node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log
package-lock.json
yarn.lock

node_modules
dist
.angular
.angular-cache
.cache

.env
.npmrc
.DS_Store
.eslintcache

logs
*.log

*.idea
*.vscode
.DS_Store

**/coverage
**/tests
**/test
**/spec
